<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
<!--    <button nz-button nzType="primary" >新建</button>-->
    <a [routerLink]="['/projects/edit']" nz-button nzType="primary">新建</a>
  </ng-template>
</page-header>
<nz-card>

  <nz-table
    nzShowSizeChanger
    nzBordered
    nzSize="middle"
    [nzData]="listOfProjectInfo"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
    <tr>
      <th nzColumnKey="proId" [nzSortFn]="true">proId</th>
      <th nzColumnKey="projectName">projectName</th>
      <th nzColumnKey="pmo" [nzFilters]="filterPMO" [nzFilterFn]="true">pmo</th>
      <th nzColumnKey="sponsor">sponsor</th>
      <th nzColumnKey="application">application</th>
      <th nzColumnKey="m0Status">m0Status</th>
      <th nzColumnKey="t0Status">t0Status</th>
      <th nzColumnKey="t1Status">t1Status</th>
      <th nzColumnKey="t2Status">t2Status</th>
      <th nzColumnKey="createTime">createTime</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfProjectInfo">
      <td>{{ data.proId }} </td>
      <td>{{ data.projectName }} </td>
      <td>{{ data.pmo }} </td>
      <td>{{ data.sponsor }} </td>
      <td>{{ data.application }}</td>
      <td>
        <nz-tag *ngIf="data.m0Status=='1'" [nzColor]="'magenta'">未开始</nz-tag>
        <nz-tag *ngIf="data.m0Status=='2'" [nzColor]="'blue'">进行中</nz-tag>
        <nz-tag *ngIf="data.m0Status=='3'" [nzColor]="'green'">已完成</nz-tag>

      </td>
      <td>
        <nz-tag *ngIf="data.t0Status=='1'" [nzColor]="'magenta'">未开始</nz-tag>
        <nz-tag *ngIf="data.t0Status=='2'" [nzColor]="'blue'">进行中</nz-tag>
        <nz-tag *ngIf="data.t0Status=='3'" [nzColor]="'green'">已完成</nz-tag>
      </td>
      <td>
        <nz-tag *ngIf="data.t1Status=='1'" [nzColor]="'magenta'">未开始</nz-tag>
        <nz-tag *ngIf="data.t1Status=='2'" [nzColor]="'blue'">进行中</nz-tag>
        <nz-tag *ngIf="data.t1Status=='3'" [nzColor]="'green'">已完成</nz-tag>
      </td>
      <td>
        <nz-tag *ngIf="data.t2Status=='1'" [nzColor]="'magenta'">未开始</nz-tag>
        <nz-tag *ngIf="data.t2Status=='2'" [nzColor]="'blue'">进行中</nz-tag>
        <nz-tag *ngIf="data.t2Status=='3'" [nzColor]="'green'">已完成</nz-tag>
      </td>
      <td>{{ data.createTime }}</td>
      <td>
        <a [routerLink]="['/projects/edit']" [queryParams]="{proId:data.proId}">edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a [routerLink]="['/projects/detail']" [queryParams]="{proId:data.proId}">Details</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
